* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    
}
body {
    background-color:whitesmoke;
}
h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    font-family: "Sour Gummy", sans-serif
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Gamja Flower", sans-serif;
    font-size: 2rem;
}

p {
    font-family: "Gamja Flower", sans-serif;
    font-size: 1.5rem;
}

ul {
    list-style-type: japanese-informal;
}

p, ul {
    font-family: "Gamja Flower", sans-serif;
    text-align: left;

}

img {
    display: block;
    max-width: 100%;

    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.05);
}


.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav ul {
    display: flex; /* Keeps the list items in a row */
    list-style-type: none;
    padding: 0px;
    margin:  30px;
    text-decoration: none;
    font-family: "Sour Gummy", sans-serif;

}
.nav li {
    margin: 0 15px; /* Adds space between the list items */
}

.nav a {
    text-decoration: none;
    color: #333;
    font-family: "Sour Gummy", sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #a3b18a;
}

.nav a:hover {
    background-color: #b08968;
    color: #fff;
}
.nav a:active {
    background-color: #606c38;
    color: #fff;
}

@media (max-width: 768px) {
    .nav a {
        font-size: 1.2rem; /* Smaller font size for mobile */
        padding: 8px 15px; /* Adjust padding */
    }

    .nav li {
        margin: 0 10px; /* Reduce margin for smaller screens */
    }
}

img {
    justify-content: center;
    display: block;
    margin: 0 auto;
}
p, ul {
    margin-left: 10%;
    font-size: larger;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #a3a380;
    color: white;
    bottom: 0;
    width: 98%;
    border-radius: 5px;
    box-shadow: 0 4px 8px #606c38;

}